body {
    padding-bottom: 50px;
    background: url('../Images/bg.jpg') center top no-repeat fixed;
    font-family: Helvetica, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    background: #FFF;
    margin-top: 140px;
    padding: 20px;
}

.footer-content {
    background: #FFF;
    margin-top: 20px;
    padding: 20px;
    text-transform: uppercase;
    font-size: 0.8em;
}

.footer-content > p {
    /*height: 80px;
    /*border-top: 1px solid #000;
    border-top-width: 10px 0 0 0;*/
    border-top: 1px solid #000;
    margin-top: 110px;
    padding-top: 5px;
}

.footer-content > .col-md-3 > h4 {
    font-size: 1.3em;
    /*padding-bottom: 0px;*/
}

.footer-content > .col-md-3 > ul {
    list-style-type: none;
    padding: 0;
    /*padding-bottom: 0px;*/
}

.jumbotron {
    background: url('../Images/DisplayCase.png') center no-repeat;
        -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    margin: 0 0 20px 0;
}

.push-spaces
{
    height: 250px;
}

.container .jumbotron {
}

.jumbotron h1 {
    color: #FFF;
    text-shadow: 0px 0px 5px #555;
    padding: 0 25px 0 50px;
    margin: 0 auto;
}

.col-md-4 {
    background: #428bca;
    padding: 15px;
    border-right: 1px solid #FFF;
}

.row {
    border-radius: 10px;
}

.col-md-4 > h2 {
    color: #FFF;
    margin: 0 0 15px 0  ;
}

.col-md-4 > p {
    color: #FFF;
}

.lead {
    color: #FFF;
    font-weight: 600;
    text-shadow: 0px 0px 5px #555;
    padding: 0 25px 0 50px;
}

.btn-lg {
    margin: 0 25px 0 50px;
}

.navbar-inverse .navbar-nav > li > a {
    text-transform: uppercase;
    padding: 30px 30px 30px 30px;
}

.navbar-inverse .navbar-nav > li {
    background: #FFFFFF;
    border-right: 1px solid #EFEFEF;
}
.navbar-inverse .navbar-nav > li:first-child {
    border-left: 1px solid #EFEFEF;
}

.navbar-inverse .navbar-nav > li:hover {
    background: #428bca;
    color: #FFF;
}

.navbar-inverse .navbar-nav > li > a:active {
    background: #428bca;
    color: #FFF;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color:#FFF;
}

.nav navbar-nav {
    float: right;
}

.logotype {
    width: 170px;
    margin-top: 22px;
    padding-right: 15px;
    margin-left: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-fixed-top {
    margin-top: 20px;
    background: #FFF;
    border: 0;
    box-shadow: 0px 0px 10px #999;
}

.container {
}

.adminnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #428bca;
    width: 1920px;
    font-size: 0.8em;
    float: right;
}

.bluenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #428bca;
    width: 100%;
    margin: 0 auto;
}

.subadmin, .subadmin > a {
    display: block;
    width: 100%;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #428bca;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    font-size: 0.9em;

}

.adminnav > li {
    float: right;
    margin-right: 0px;
    margin-left: 0px;
    border-right: 1px solid #EFEFEF;
}

.adminnav > li > a:hover {
background: #FFF;
}

.adminnav > li:last-child {
    border-left: 1px solid #EFEFEF;
}

    .adminnav > li:first-child {
        border-right: 0px solid #EFEFEF;
    }

.adminnav > li > a:link, .adminnav > li > a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #428bca;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
}


.navbar-collapse collapse {

}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@media all and (min-width: 768px) {
  .navbar-fixed-width {
    width: 768px;
    margin-left: auto;
    margin-right:auto;
 }
}

@media all and (min-width: 992px) {
  .navbar-fixed-width {
    width: 992px;
    margin-left: auto;
    margin-right:auto;
  }

}

@media all and (min-width: 1170px) {
  .navbar-fixed-width {
    width: 1170px;
    margin-left: auto;
    margin-right:auto;
  }
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.9em;
}